.review-row {
    border-color: #37A1F3;
    border-style: solid;
    border-radius: 0.5rem;
    margin-top: 1mm;
    padding: 1mm 0 1mm 0;
    margin: 1mm -5px 0 -5px;
}


/* .review-col {
    height: max-content;
} */


/* .profile-col {
    height: 100px;
} */

.user-helpful {
    font-size: medium;
}

.user-not-helpful {
    font-size: medium;
}

.review-date {
    color: gray;
    text-align: left;
    margin-bottom: 1mm;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.like-row {
    margin-top: 1mm;
}

.user-image-row {
    padding: 1mm 0 1mm 0;
}

.settings-button-col {
    padding: 0;
    text-align: right;
}

.like-icon {
    font-size: x-large;
    color: #5cb85c;
    border-color: #4cae4c;
}

.like-icon:hover {
    color: #449d44;
    border-color: #398439;
    cursor: pointer;
}

.user-helpful>.disabled:hover {
    cursor: no-drop;
    color: #5cb85c;
    border-color: #4cae4c;
}

.dislike-icon {
    font-size: x-large;
    color: #d9534f;
    border-color: #d43f3a;
    cursor: pointer;
}

.dislike-icon:hover {
    color: #c9302c;
    border-color: #ac2925;
}

.user-not-helpful>.disabled:hover {
    cursor: no-drop;
    color: #ac2925;
    border-color: #761c19;
}