.add-review {
    cursor: pointer;
}

.add-review:hover {
    color: #0280e1;
}

.rating-stars {
    /* float:left; */
    width: max-content;
    font-size: x-large;
    margin: auto;
}

.rating-stars:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating-stars:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars:not(:checked) > label:before {
    content: '★ ';
}

.rating-stars > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars:not(:checked) > label:hover,
.rating-stars:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars > input:checked + label:hover,
.rating-stars > input:checked + label:hover ~ label,
.rating-stars > input:checked ~ label:hover,
.rating-stars > input:checked ~ label:hover ~ label,
.rating-stars > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.add-rating:hover{
    cursor: pointer;
    color: blue;

}

.loader {
    margin:10% auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00E58B;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




  .swal-button--confirm,.btn-success{
    background-color:#00E58B
  }
  .btn-success:hover{
    background-color:#00BA6F
  }


   /* .swal-footer{
      text-align: left;
  } */

  .swal-overlay--show-modal{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* z-index: 100; */
    transition: all 0.5s ease-in;
  }
  .modal{
    backdrop-filter: blur(5px);
  }
  
  .swal-modal,.modal-content{
    border: 1px solid rgb(0, 229, 139);
    box-shadow: 0px 0px 5px 0px rgba(0, 229, 139.75);
    filter:blue(0px)
  }

  .swal-button--confirm.swal-button:not([disabled]):hover{background-color:#00BA6F}

  .swal-button--confirm.swal-button:not([disabled]):focus{background-color:#00BA6F}

  .modal-header .close {
    font-size: 40px;
  }

  .swal-content__input:focus,.swal-content__textarea:focus{
      outline:none;
      border-color:#00BA6F
    }

    .swal-button:focus{
        outline:none;
        box-shadow:0 0 0 1px #fff,0 0 0 3px rgba(0, 229, 139.75)
    }