.add-review {
    cursor: pointer;
}

.add-review:hover {
    color: #0280e1;
}

.rating-stars {
    /* float:left; */
    width: max-content;
    font-size: x-large;
    margin: auto;
}

.rating-stars:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating-stars:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars:not(:checked) > label:before {
    content: '★ ';
}

.rating-stars > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars:not(:checked) > label:hover,
.rating-stars:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars > input:checked + label:hover,
.rating-stars > input:checked + label:hover ~ label,
.rating-stars > input:checked ~ label:hover,
.rating-stars > input:checked ~ label:hover ~ label,
.rating-stars > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating-stars > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.add-rating:hover{
    cursor: pointer;
    color: blue;

}