.container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.step {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.header {
  align-self: flex-start;
  font-size: 2.5rem;
  font-weight: 600;
}
