.popupModal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: all 1s ease-in;
}

/* Modal Content */
.popupModal__content {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  filter: blur(0);
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(0, 229, 139);
  box-shadow: 0px 0px 5px 0px rgba(0, 229, 139.75);
  border-radius: 1rem;
  width: 30%;
  transition: all 0.3s ease;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0s;

  display: flex;
  flex-direction: column;
}

/******************************************** header *****************************************/
.header {
  width: 100%;
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
}

.header h3 {
  font-size: 3.2rem;
  font-weight: 500;
}

.header span {
  align-self: flex-start;
  transform: translate(0.5rem, -1.5rem);
}

/* The Close Button */
.popupModal__close {
  color: #aaaaaa;
  font-size: 2.8rem;
  font-weight: bold;
}

.popupModal__close:hover,
.popupModal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/******************************************** form *****************************************/
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.6rem 0 0.5rem 2.5rem;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.formItem label {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0.2rem;
}

.formItem_input {
  width: 100%;
  display: flex;
  margin-bottom: 0.1rem;

  display: flex;
  align-items: center;
}

.formItem_input input {
  width: 70%;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.formItem_input span {
  padding: 0 1rem;
  display: flex;
}

.formItem_input svg {
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.2);
}

.formItem_input svg:hover {
  fill: rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.formItem_input svg:active {
  fill: rgba(0, 0, 0, 0.8);
  transform: scale(1);
}

.formItem_input svg {
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.2);
}

.formItem_input input:hover {
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.formItem_input input:hover .formItem label {
  color: rgba(0, 0, 0, 0.9);
}

.formItem_input input:focus {
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.formItem_input input:focus .formItem label {
  color: rgba(0, 0, 0, 0.9);
}

.formItem_input input:disabled {
  background-color: rgba(128, 128, 128, 0.2);
}

.errorList {
  list-style: none;
  margin-bottom: 1rem;
}

.errorList li {
  color: orangered;
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 0.5rem;
}

/******************************************** submit *****************************************/
.formSubmit {
  display: flex;
  margin-top: 1rem;
}

.btnChange {
  font-size: 1.6rem;
  border: none;
  outline: none;
  padding: 0.65rem 1.2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: rgb(0, 229, 139);
}

.btnChange:hover {
  background-color: #3aeca5;
}

.btnCancel {
  font-size: 1.6rem;
  border: none;
  outline: none;
  padding: 0.65rem 1.2rem;
  border-radius: 0.5rem;
  color: #000;
  background-color: #f1eded;
}

.btnCancel:hover {
  background-color: #f8f8f8;
}

@keyframes fadeIn {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
